<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Media Queries</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="box">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
          tempora, eligendi autem molestias impedit natus officia repudiandae
          ipsum praesentium asperiores eius voluptas exercitationem laboriosam
          labore libero nihil quis consequatur eveniet numquam sint veniam hic
          laudantium. Necessitatibus vero dolore reprehenderit, optio fugiat
          saepe perspiciatis consequatur corrupti at impedit dignissimos
          similique blanditiis!
        </p>
      </div>
      <div class="box">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis
          consequuntur incidunt beatae, neque ea nemo repellendus adipisci
          corrupti fugit tempore. Ea sequi magnam pariatur harum reiciendis
          nihil perspiciatis asperiores cumque labore laboriosam vero, quae
          dignissimos porro nam iste quibusdam voluptate fugiat omnis dolores
          eius, fuga, odio et maiores. Ut, quis!
        </p>
      </div>
    </div>
  </body>
</html>
