body {
  margin: 10px;
}

/* Parents elements dont see floated and absolute elements */
.tweet {
  border: 3px solid lightgrey;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.avatar {
  width: 5rem;
  height: 5rem;
  background-color: gold;
  float: left;
  margin-right: 0.5rem;
}

.clear {
  clear: both;
}
