.container {
  display: flex;
  flex-direction: column;
}

.box {
  background: gold;
  padding: 1 rem;
}

.box:nth-of-type(2) {
  background: dodgerblue;
}

@media screen and (min-width: 900px) {
  .container {
    flex-direction: row;
  }
  .box {
    background: white;
  }
}

/* For printing pages, units must be point and fixed */
@media print {
  body {
    font-size: 12pt;
  }
  .box {
    padding: 0.5cm;
  }
}
